<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Login/Register Page</title>
  <link rel="stylesheet" href="/starting.css">
        
</head>
<body>
  <div class="header">
    <img src="/logo.jpeg" alt="Logo" class="logo">
  
    <main class="main-content">
      <div class="button-container">
        <a href="/login" class="button1">Login</a>
        <a href="/register" class="button">Register</a>
      </div>
  </div>
 
  </main>
</body>
</html>

